.imageCarousel {
  margin: 0;
  margin-bottom: 10px;
  text-align:center;
  vertical-align: middle;
  width: 75%;
  height: 550px;
  position: static;
  margin: auto;
  margin-top:20px;



}

.mainImage {
    box-sizing : border-box;
    max-width: 75vw;
    max-height: 75vh;
    height:auto;
    height: 500px;
    vertical-align: center;
    margin-top: 10px;
    position: static;

}

.header {
  text-align: center;
  height:33px;
}

*:focus {
  outline:none;
}

.leftButton {
  border:0px;
  float:left;
  left: 1.5%;
  position:absolute;
  top:45%;
  /* vertical-align: left;
  margin-top: 200px; */
}

.rightButton {
  border:0px;
  position: absolute;
  /* float:right; */
  right:1.5%;
  bottom: 50%;
}

.btnImage {
  height: 40px;
  width:40px;
}

div .header {
  box-sizing : border-box;
  display : flex;
  /* align-items : center; */
  position : relative;
  /* text-align: center; */
  vertical-align: center;
  transition : border 0.2s ease 0s, ease 0.2s;
  margin-top: 25px;
}

.closeBtn {
  size: 15px;
  box-sizing : border-box;
  cursor : pointer;
  font-family : "Helvetica Neue", sans-serif;
  font-size : 12px;
  font-weight : 200;
  position : absolute;
  text-align : center;
  width : 75px;
  line-height : 18px;
  border-radius : 8px;
  padding : 4px;
  background : rgba(34, 34, 34, 0.16) none repeat scroll 0% 0% / auto padding-box border-box;
  color : rgb(34, 34, 34);
  border : 0px none rgb(34, 34, 34);
  left: 35px;
  top: 8px;
  font-weight: 400;
  vertical-align: middle;


}

.likeButton {
  float:right;
  position: relative;
  margin-top: 0;
}

.shareButton {
  float:right;
  position: relative;
}

button:hover {
    color:#000;
    opacity:0.5;


}



.counter {
  font-size:16px;
  line-height: 20px;
  letter-spacing: normal;
  position:relative;
  font-family : "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 13px;
  width: 80%;
  text-align: center;
  left:10%;
  height: 25px;
  top:10px;

}

.description {
  font-size:13px;
  line-height: 20px;
  letter-spacing: normal;
  position:relative;
  font-family : "Helvetica Neue", sans-serif;
  font-weight: 300;
  width: 80%;
  text-align: center;
  left:10%;
}



