html * {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif
}



.showAll {
  bottom:10%;
  font-size : 10px;
  color : rgb(34, 34, 34);
  font-weight : 600;
  cursor : pointer;
  text-align : center;
  width : 135.062px;
  line-height : 18px;
  border-radius : 8px;
  border-style : solid;
  padding : 7px 15px;
  border-color : rgb(0, 0, 0);
  background : rgb(247, 247, 247)


}

.overlap {
    position: relative;
    bottom:50px;
    left: 675px

}
.container {
  position:relative;
  height: 410px;
  width: 57%;


  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

/* .cell {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 5px;
  cursor: pointer;
} */

.cell:hover{
    color:#000;
    opacity:0.5;

}

.cell1 {
  grid-row:1/3;
  grid-column:1;
  width:400px;
  height:410px;

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  color: white;
  font-size: 3rem;
  text-align: center;

  cursor: pointer;
}

.cell2 {
  width:200px;
  height: 200px;
  object-fit:cover;

  color: white;
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;


}
.cell3 {
  width:200px;
  height: 200px;
  object-fit:cover;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  border-top-right-radius: 15px;



}
.cell4 {
  width:200px;
  height: 200px;
  object-fit:cover;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;

}
.cell5 {
  width:200px;
  height: 200px;
  object-fit:cover;
  display: inline;
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-left: 10px;
  cursor: pointer;
  border-bottom-right-radius: 15px;


}

.cell1:hover{
  color:#000;
  opacity:0.5;

}

.cell2:hover{
  color:#000;
  opacity:0.5;

}

.cell3:hover{
  color:#000;
  opacity:0.5;

}
.cell4:hover{
    color:#000;
    opacity:0.5;

}

.cell5:hover{
  color:#000;
  opacity:0.5;

}